<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1> Author: Jonathan Pollyn </h1>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-11-19 20:55:31--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-11-19 20:55:32 (113 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2021-11-19 20:55:32--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-11-19 20:55:32 (52.6 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2021-11-19 20:55:33--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2021-11-19 20:55:33 (19.0 MB/s) - ‘exchange_rates.csv’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [88]:
exchange = extract_from_json('bank_market_cap_1.json')
dt = exchange['Market Cap (US$ Billion)']
dt

0     390.934
1     345.214
2     325.331
3     308.013
4     257.399
       ...
65     37.993
66     37.319
67     35.128
68     33.560
69     33.081
Name: Market Cap (US$ Billion), Length: 70, dtype: float64

In [61]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    
    for jsonfile in glob.glob('*.json'):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
        
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [132]:
# Write your code here
df = pd.read_csv('exchange_rates.csv', index_col = 0)
#exchange_rate = data.loc[data[0] == 'GBP']

exchange_rate = df.loc['GBP']
exchange_rate

Rates    0.732398
Name: GBP, dtype: float64

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [155]:
def transform(data):
    # Write your code here
    #data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'] * exchange_rate
    #data['Market Cap (US$ Billion)'] = data.rename(columns={data['Market Cap (US$ Billion)']:data['Market Cap (GBP$ Billion)']},inplace=True)
     
    
    return data

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [57]:
targetfile = "bank_market_cap_gbp.csv"

def load(targetfile, data_to_load):
    # Write your code here
    data_to_load.to_csv(targetfile, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [58]:
logfile    = "logfile.txt"

def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [62]:
# Write your code here
log("ETL Job Started")

log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [64]:
# Call the function here
extract()
# Print the rows here
extract().head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [65]:
# Write your code here
extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]

### Transform

Log the following  <code>"Transform phase Started"</code>

In [157]:
# Write your code here
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [158]:
# Call the function here
transformed_data
# Print the first 5 rows here

                                        Name Market Cap (GBP$ Billion)
0                             JPMorgan Chase                       NaN
1    Industrial and Commercial Bank of China                       NaN
2                            Bank of America                       NaN
3                                Wells Fargo                       NaN
4                    China Construction Bank                       NaN
..                                       ...                       ...
100                             Ping An Bank                       NaN
101                       Standard Chartered                       NaN
102                     United Overseas Bank                       NaN
103                                QNB Group                       NaN
104                              Bank Rakyat                       NaN

[105 rows x 2 columns]

Log your data <code>"Transform phase Ended"</code>

In [159]:
# Write your code here
transformed_data

                                        Name Market Cap (GBP$ Billion)
0                             JPMorgan Chase                       NaN
1    Industrial and Commercial Bank of China                       NaN
2                            Bank of America                       NaN
3                                Wells Fargo                       NaN
4                    China Construction Bank                       NaN
..                                       ...                       ...
100                             Ping An Bank                       NaN
101                       Standard Chartered                       NaN
102                     United Overseas Bank                       NaN
103                                QNB Group                       NaN
104                              Bank Rakyat                       NaN

[105 rows x 2 columns]

### Load

Log the following `"Load phase Started"`.

In [160]:
# Write your code here
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

Call the load function

In [162]:
# Write your code here
#targetfile = "bank_market_cap_gbp.csv"

load(targetfile, transformed_data)

Log the following `"Load phase Ended"`.

In [163]:
# Write your code here
log("ETL Job Ended")

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).